@font-face {
    font-family: Montserrat;
    src: url(/Sm/montserrat.woff2) format(woff2),
         url(/Sm/montserrat.woff) format(woff),
         url(/Sm/Montserrat-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;

}

h2 {
    font-family: Montserrat, 'Times New Roman', Times, serif;
}

h2 {
    color:crimson;
}


.ChangeColor{
    color:coral
}

